<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
            {%if title %}
                <title>Control Picking - {{nombre_empresa}} </title>
            {%else%}
                <title>Control Picking </title>
            {%endif%}
        {% endblock %} 
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">       
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- daterange picker -->
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/daterangepicker/daterangepicker.css') }}">
        <!-- Select2 -->
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/select2/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')}}">
        <!-- DataTables -->
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/fontawesome-free/css/all.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/adminlte.css')}}">

        <!-- Ion Slider -->
        <script src="{{ url_for('static',filename='plugins/ion-rangeslider/js/ion.rangeSlider.min.js')}}"></script>
        <!-- Bootstrap slider -->
        <script src="{{ url_for('static',filename='plugins/bootstrap-slider/bootstrap-slider.min.js')}}"></script>
        
        <!-- icheck bootstrap -->
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        

        <!-- echart style -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script> -->

        <script src="{{ url_for('static',filename='dist/js/echarts.min.js')}}"></script>
        <script src="{{ url_for('static',filename='theme/vintage.js')}}"></script>
        <script src="{{ url_for('static',filename='theme/macarons.js')}}"></script>
        <script src="{{ url_for('static',filename='theme/shine.js')}}"></script>
        <script src="{{ url_for('static',filename='theme/dark.js')}}"></script>
    </head>
    <body>

            {% block cabecera %}
            
            <div class="row">
                <div class="col-12">
                  
                  <nav class="navbar navbar-expand navbar-primary navbar-dark">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                      </li>
                      <li class="nav-item d-none d-sm-inline-block">
                        <a href="/home" class="nav-link">Home</a>
                      </li>
                      <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                      </li>
                    </ul>

                    <!-- Right navbar links -->
                    <ul class="navbar-nav ml-auto">
                      
                      
                      <li class="nav-item">
                        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                          <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                          <i class="fas fa-th-large"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
            
            {% endblock cabecera %}

            {% block content %}
            <div class="col-12">
                <div class="card">
                
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="card-title">Listado de Productos</h1>
                            </div>
                        </div>
                    </div>
               
                    <div class="card-body">
                    </div>
                </div>
            </div>
            
            {% endblock content%}

            {% block footer %}
            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Fecha:</b> {{now}} <b>Version</b> 1.0
                </div>

                <strong>Copyright &copy; 2024 <a>Alpina S.A.</a>.</strong> All rights reserved.
            </footer>
            {% endblock footer%}
       
        
        <!-- jQuery -->
        <script src="{{ url_for('static',filename='plugins/jquery/jquery.min.js')}}"></script>
        <!-- Bootstrap 4 -->
        <script src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <!-- DataTables  & Plugins -->
        <script src="{{ url_for('static',filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/jszip/jszip.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/pdfmake/pdfmake.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/pdfmake/vfs_fonts.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
        <!-- Select2 -->
        <script src="{{ url_for('static',filename='plugins/select2/js/select2.full.min.js')}}"></script>
        <!-- InputMask -->
        <script src="{{ url_for('static',filename='plugins/moment/moment.min.js')}}"></script>
        <script src="{{ url_for('static',filename='plugins/inputmask/jquery.inputmask.min.js')}}"></script>
        <!-- date-range-picker -->
        <script src="{{ url_for('static',filename='plugins/daterangepicker/daterangepicker.js')}}"></script>
        <!-- AdminLTE App -->
        <script src="{{ url_for('static',filename='dist/js/adminlte.min.js')}}"></script>
        <!-- bs-custom-file-input -->
        <script src="{{ url_for('static',filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{{ url_for('static',filename='dist/js/demo.js')}}"></script>
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/e246b06af5.js" crossorigin="anonymous"></script>
        <!-- Dropzone -->
        <script src="{{ url_for('static',filename='plugins/dropzone/dropzone.js')}}"></script>



        

        <!-- Page specific script -->
        <script>
            $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            });
        </script>
        <script>
            $(function () {
                //Initialize Select2 Elements
                $('.select2').select2()
            
                //Initialize Select2 Elements
                $('.select2bs4').select2({
                theme: 'bootstrap4'
                })
            
                //Datemask dd/mm/yyyy
                $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
                //Datemask2 mm/dd/yyyy
                $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
                //Money Euro
                $('[data-mask]').inputmask()
            
                //Date picker
                $('#reservationdate').datetimepicker({
                    format: 'L'
                });
            
                //Date and time picker
                $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });
            
                //Date range picker
                $('#reservation').daterangepicker()
                //Date range picker with time picker
                $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
                })
                //Date range as a button
                $('#daterange-btn').daterangepicker(
                {
                    ranges   : {
                    'Today'       : [moment(), moment()],
                    'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                    'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate  : moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
                )
            
                //Timepicker
                $('#timepicker').datetimepicker({
                format: 'LT'
                })
            
                //Bootstrap Duallistbox
                $('.duallistbox').bootstrapDualListbox()
            
                //Colorpicker
                $('.my-colorpicker1').colorpicker()
                //color picker with addon
                $('.my-colorpicker2').colorpicker()
            
                $('.my-colorpicker2').on('colorpickerChange', function(event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
                })
            
                $("input[data-bootstrap-switch]").each(function(){
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
                })
            
            })
            // BS-Stepper Init
            document.addEventListener('DOMContentLoaded', function () {
                window.stepper = new Stepper(document.querySelector('.bs-stepper'))
            })
            
            // DropzoneJS Demo Code Start
            Dropzone.autoDiscover = false
            
            // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
            var previewNode = document.querySelector("#template")
            previewNode.id = ""
            var previewTemplate = previewNode.parentNode.innerHTML
            previewNode.parentNode.removeChild(previewNode)
            
            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                url: "/target-url", // Set the url
                thumbnailWidth: 80,
                thumbnailHeight: 80,
                parallelUploads: 20,
                previewTemplate: previewTemplate,
                autoQueue: false, // Make sure the files aren't queued until manually added
                previewsContainer: "#previews", // Define the container to display the previews
                clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
            })
            
            myDropzone.on("addedfile", function(file) {
                // Hookup the start button
                file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
            })
            
            // Update the total progress bar
            myDropzone.on("totaluploadprogress", function(progress) {
                document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
            })
            
            myDropzone.on("sending", function(file) {
                // Show the total progress bar when upload starts
                document.querySelector("#total-progress").style.opacity = "1"
                // And disable the start button
                file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
            })
            
            // Hide the total progress bar when nothing's uploading anymore
            myDropzone.on("queuecomplete", function(progress) {
                document.querySelector("#total-progress").style.opacity = "0"
            })
            
            // Setup the buttons for all transfers
            // The "add files" button doesn't need to be setup because the config
            // `clickable` has already been specified.
            document.querySelector("#actions .start").onclick = function() {
                myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
            }
            document.querySelector("#actions .cancel").onclick = function() {
                myDropzone.removeAllFiles(true)
            }
            // DropzoneJS Demo Code End
        </script>        
        
        <script>
            document.getElementById('txtLogo').addEventListener('change', function(event) {
                const [file] = event.target.files;
                if (file) {
                    const preview = document.getElementById('preview');
                    preview.src = URL.createObjectURL(file);
                }
            });
        </script>

        <script>
            $(function () {
            bsCustomFileInput.init();
            });
        </script>
        
    </body>
</html>
